.test-enter, .test-appear{
    opacity: 0;
}
.test-enter-active,.test-appear-active{
    opacity: 1;
    transition: opacity 1s ease-in
}
.test-enter-done{
    opacity: 1;
}

.test-exit{
    opacity: 1;
}
.test-exit-active{
    opacity: 0;
    transition: opacity 1s ease-in
}
.test-exit-done{
    opacity: 0;
}